<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://js.pusher.com/7.2/pusher.min.js"></script>
</head>

<body>

    <div class="container">
        <h2>Registros</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Email</th>
                    <th>Nombre</th>
                    <th>Asunto</th>
                    <th></th>
                    <th></th>
                </tr>
                
            </thead>
            <tbody id="registroTabla">
            </tbody>
        </table>
    </div>

    <script>
        // Función para cargar los registros
        function cargarRegistros() {
            $.get("/alumnos/obtener", function (data) {
                $("#registroTabla").empty(); 
                data.forEach(function (registro) {
                    $("#registroTabla").append(`
                        <tr id="registro-${registro.Id_Contacto}">
                            <td>${registro.Id_Contacto}</td>
                            <td>${registro.Correo_Electronico}</td>
                            <td>${registro.Nombre}</td>
                            <td>${registro.Asunto}</td>
                            <td><a href="/alumnos/editar/${registro.Id_Contacto}" class="btn bg-warning">Editar</a></td>
                            <td><button class="btn bg-danger" onclick="eliminarRegistro(${registro.Id_Contacto})">Eliminar</button></td>
                        </tr>
                    `);
                });
            });
        }
    
        // Función para eliminar un registro
        function eliminarRegistro(id) {
            $.ajax({
                url: `/alumnos/eliminar/${id}`,
                type: 'DELETE',
                success: function (result) {
                    console.log("Registro eliminado:", result);
                }
            });
        }
    
        // Configuración de Pusher
        var pusher = new Pusher('42b9b4800a5a14fc436c', { 
            cluster: 'us2',
            encrypted: true
        });
    
        var channel = pusher.subscribe('my-channel');
        
        // Escucha el evento para nuevos registros
        channel.bind('my-event', function (data) {
            console.log('Evento recibido:', data);  
            cargarRegistros(); 
        });
        
        // Escucha el evento de eliminación
        channel.bind('eliminar-event', function (data) {
            console.log('Evento de eliminación recibido:', data);
            // Elimina la fila del registro eliminado de la tabla
            $(`#registro-${data.id}`).remove();
        });
    
        cargarRegistros();
    </script>
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
